.centrer {text-align: center;}
.footer {background-color: red;}
.header {background-color: red;}
.section1 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 400px; border: 2px solid black; width: 1000px; box-shadow: 2px 2px 2px 2px;}
.section2 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 415px; border: 2px solid black; width: 970px; box-shadow: 2px 2px 2px 2px;}
.section3 {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; margin-left: 800px; border: 2px solid black; width: 190px; box-shadow: 2px 2px 2px 2px;}
.aside {float: right; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: red; border: medium solid; width: 350px; height: 320px; box-shadow: 2px 2px 2px 2px;}
.asidep {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 200%;}
.headerp {color : white; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 400%;}
.footerp {font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; font-size: 200%;}
.rouge {color: red}
.vert {color: green}
.img {width: 180px; height: 217px;}
.nav {float : left; font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; background-color: red; border: medium solid; width: 200px; height: 130px; box-shadow: 2px 2px 2px 2px;}
