body 
{
  background-image : url(backgroundMarvel.jpg);
  background-size : 1920px 1080px ;
}

table { font-family: 'Quicksand', regular;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid red;
  color : #FF0000 ;
}

tbody
{
  background-color : #330000 ;
  opacity: 0.8;
}

th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
  height : 100px ;
  width : 100px ;
}

tfoot th {
  text-align: right;
}

th > img
{
  width: 250px;
  height : 250px;
}
