body { background : #e0e0e0 }

table { font-family: 'Quicksand', regular;
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  border: 2px solid red;
  color : #FF0000 ;
  background-color: #FFFFFF;
}


th {
  letter-spacing: 2px;
}

td {
  letter-spacing: 1px;
}

tbody td {
  text-align: center;
  height : 100px ;
  width : 100px ;
}

tfoot th {
  text-align: right;
}
